<form  >
  <p>Add Project</p>
  <!--<label> ID :
    <input [(ngModel)]="task.taskId" name="taskId" >
  </label>-->
  <table class="table-borderless">
    <tr>
  <!-- <label> Project: 
    <input [(ngModel)]="project.projectId" name="projectId" placeholder="projectId" >
  </label>
  <br /> -->
    <td class="labelcol">
    <label> Project: </label>
    </td>
    <td colspan="2">
      <label>
      <input [(ngModel)]="project.project" name="project" placeholder="project" >
    </label>
  </td>

  <tr>
    <td>
        <label> 
            <input [(ngModel)]="project.setDate" type="checkbox" name="setDate" >
            Set Start and End date:
            </label>
            
    </td>
    <td>
  <label> Start Date: 
      <input type="date" [(ngModel)]="project.startDate" name="startDate" placeholder="startDate" [disabled]="isDisabled()">
    </label>
  </td>
  <td>
    <label> End Date: 
      <input type="date" [(ngModel)]="project.endDate" name="endDate" placeholder="endDate" [disabled]="isDisabled()">
    </label>
  </td>
  </tr>
  <tr>
    <td>
  <label> Priority: </label>
  </td>
  <td>
    <label>
    <mat-slider thumbLabel [(ngModel)]="project.priority" min="1" max="30" step="1" tickInterval="3" name="priority" placeholder="priority"> </mat-slider>
  </label>
  </td>

</tr>
<tr>
  <td>
    <label> Manager: 
    </label>
  </td>
  <td>
    <label>    <input [(ngModel)]="project.managerId" name="managerId" placeholder="managerId" >
    </label>
    </td>
    <td>
      <label>
        
      <ngbd-modal-user (notifyParent) = "getNotification($event)" ></ngbd-modal-user>
    </label>
  </td>
</tr>
  <tr>
    <td>
  <button (click)="save()">save</button> 
</td>
</tr>
</table>

<table class="table-borderless">
  <thead>
    <th><label>Sort By:</label></th>
    <th><button (click)="sort('startDate')">Start Date</button></th>
    <th><button (click)="sort('endDate')">End Date</button></th>
    <th><button (click)="sort('priority')">Priority</button></th>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects|orderBy:key:reverse">
      <td>
      <table>
        <tr>
            <td><label>Project: {{project.project}}</label></td>
        </tr>
        <tr>
            <td><label>Number of Tasks: {{project.totalTasks}}</label></td>
            <td><label>completed: {{project.completedTasks}}</label></td>
        </tr>
        <tr>
            <td><label>Start Date: {{project.startDate}}</label></td>
            
                    <td><label>End Date: {{project.endDate}}</label></td>
        </tr>
      </table>
        
      </td> 
      
        <td><label>Priority: {{project.priority}}</label></td>
      
        
        <td><button (click)="edit(project)">Edit</button> </td>
      
         
    </tr>
  </tbody>
  </table>
  
</form>