<form  >
  <p>Add Project</p>
  <!--<label> ID :
    <input [(ngModel)]="task.taskId" name="taskId" >
  </label>-->
  <table class="table">
    <tr>
  <!-- <label> Project: 
    <input [(ngModel)]="project.projectId" name="projectId" placeholder="projectId" >
  </label>
  <br /> -->
  <td>
    <label> Project: 
      <input [(ngModel)]="project.project" name="project" placeholder="project" >
    </label>
  </td>

  <tr>
    <td>
        <label> Set Start and End date:
            <input [(ngModel)]="project.setDate" type="checkbox" name="setDate" >
            
            </label>
            
    </td>
    <td>
  <label> Start Date: 
      <input type="date" [(ngModel)]="project.startDate" name="startDate" placeholder="startDate" [disabled]="isDisabled()">
    </label>
  </td>
  <td>
    <label> End Date: 
      <input type="date" [(ngModel)]="project.endDate" name="endDate" placeholder="endDate" [disabled]="isDisabled()">
    </label>
  </td>
  </tr>
  <tr>
    <td>
  <label> Priority: 
    <mat-slider thumbLabel [(ngModel)]="project.priority" min="1" max="30" step="1" tickInterval="3" name="priority" placeholder="priority"> </mat-slider>

  </label>
</td>
</tr>
<tr>
  <td>
    <label> Manager: 
    <input [(ngModel)]="project.managerId" name="managerId" placeholder="managerId" >
    <ngbd-modal-user (notifyParent) = "getNotification($event)" ></ngbd-modal-user>
  </label>
</td>
</tr>
  <tr>
    <td>
  <button (click)="save()">save</button> 
</td>
</tr>
</table>

<table class="table">
  <thead>
    <th><label>Sort By:</label></th>
    <th><button (click)="sort('startDate')">Start Date</button></th>
    <th><button (click)="sort('endDate')">End Date</button></th>
    <th><button (click)="sort('priority')">Priority</button></th>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects|orderBy:key:reverse">
      
        <td><label>Project: {{project.project}}</label></td>
        <td><label>Number of Tasks: {{project.totalTasks}}</label></td>
      
        <td><label>Priority: {{project.priority}}</label></td>
      
        <td><label>Start Date: {{project.startDate}}</label></td>

        <td><label>End Date: {{project.endDate}}</label></td>
        <td><button (click)="edit(project)">Edit</button> </td>
      
         
    </tr>
  </tbody>
  </table>
  
</form>