<form  >
  <p>Add Task</p>
  <!--<label> ID :
    <input [(ngModel)]="task.taskId" name="taskId" >
  </label>-->
  <table class="table-borderles">
    <tbody>
    <tr>
      <td>
        <label> Project: </label>
      </td>
      <td>
        <label><input [(ngModel)]="task.projectId" name="projectId" placeholder="projectId" ></label>
      </td>
      <td>
        <label><ngbd-modal-project (notifyParent) = "getNotification($event)" ></ngbd-modal-project></label>
      </td>
    </tr>
    <tr>
      <td>
        <label> Task: 
        </label>
      </td>
      <td colspan="2">
        <label>
        <input [(ngModel)]="task.task" name="task" placeholder="task" >
        </label>
      </td>
  
    </tr>
    <tr>
      <td>
        <label>
          Parent Task:
        </label>
      </td>
      <td>
        <label>
          <input [(ngModel)]="task.isParent" type="checkbox" name="isParent" >
        </label>
      </td>
    </tr>
    <tr>
      <td>
        <label> Priority: </label>
      </td>
      <td>
        <label>
          <mat-slider thumbLabel [(ngModel)]="task.priority" min="1" max="30" step="1" tickInterval="3" name="priority" placeholder="priority"> </mat-slider>
        </label>
      </td>
  </tr>
  <tr>
    <td>
      <label> Parent Task: </label>
    </td>
    <td>
      <label>
        <input [(ngModel)]="task.parentId" name="parentId" placeholder="parentId" [disabled]="isDisabled()">
      </label>
    </td>
    <td>
      <label>
        <ngbd-modal-parent (notifyParent) = "getNotificationParent($event)" ></ngbd-modal-parent>
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label> Start Date:  </label>
    </td>
    <td>
      <label>
        <input type="date" [(ngModel)]="task.startDate" name="startDate" placeholder="startDate" [disabled]="isDisabled()">
      </label>
    </td>
    <td>
      <label> End Date: </label>
    </td>
    <td>
      <label>
        <input type="date" [(ngModel)]="task.endDate" name="endDate" placeholder="endDate" [disabled]="isDisabled()">
      </label>
    </td>
  </tr> 
<tr>
  <td>  <button (click)="save()">save</button> 
  </td>
</tr>
</tbody>
</table>
</form>