<form  >
  <p>Add Task</p>
  <!--<label> ID :
    <input [(ngModel)]="task.taskId" name="taskId" >
  </label>-->
  <label> Project: 
    <input [(ngModel)]="task.projectId" name="projectId" placeholder="projectId" >
    <ngbd-modal-project (notifyParent) = "getNotification($event)" ></ngbd-modal-project>
  </label>
  <br />
  <label> Task: 
    <input [(ngModel)]="task.task" name="task" placeholder="task" >
  </label>
  <br />

  <label> Parent Task:
  <input [(ngModel)]="task.isParent" type="checkbox" name="isParent" >
  
  </label>
  <br />
  <label> Priority: 
    <mat-slider thumbLabel [(ngModel)]="task.priority" min="1" max="30" step="1" tickInterval="3" name="priority" placeholder="priority"> </mat-slider>

  </label>
  <br />
  <label> Parent Task: 
    <input [(ngModel)]="task.parentId" name="parentId" placeholder="parentId" [disabled]="isDisabled()">
    <ngbd-modal-parent (notifyParent) = "getNotificationParent($event)" ></ngbd-modal-parent>
  </label>
  <br />
  <label> Start Date: 
    <input type="date" [(ngModel)]="task.startDate" name="startDate" placeholder="startDate" [disabled]="isDisabled()">
  </label>
  <br />
  <label> End Date: 
    <input type="date" [(ngModel)]="task.endDate" name="endDate" placeholder="endDate" [disabled]="isDisabled()">
  </label>
  <br />
  <button (click)="save()">save</button>
</form>