<h2>My Tasks</h2>
<table class="table">
<tr>
  <td>
    <label> Task :
    <input [(ngModel)]="searchTask" placeholder="">
    </label>
  </td>
  <td>  
    <label> ParentTask :
    <input [(ngModel)]="searchParent" placeholder="">
    </label>
  </td>
</tr>
<tr>
  <td>
  <label> Priority From :
    <input [(ngModel)]="searchPriorityFrom" placeholder="">
  </label>
</td>
<td>
  <label> Priority To :
    <input [(ngModel)]="searchPriorityTo" placeholder="">
  </label>
</td>
</tr>
  <tr>
    <td>
  <label> Start Date :
    <input type="date" [(ngModel)]="searchStartDate" placeholder="">
  </label>
</td>
<td>
  <label> End Date :
    <input type="date" [(ngModel)]="searchEndDate" placeholder="">
  </label>
</td>
</tr>
</table>
<table class="table">

    <thead>
      <tr>
        <th scope="col" >Task</th> 
        <th scope="col">Parent Task</th>
        <th scope="col">Priority</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Edit</th>
        <th scope="col">End Task</th>
      </tr>
    </thead>

  <tr *ngFor="let task of tasks | filterTask : searchTask | filterParent : searchParent | filterPriorityFrom : searchPriorityFrom |  filterPriorityTo : searchPriorityTo | filterStartDate : searchStartDate | filterEndDate : searchEndDate">
    <td>{{task.task}} </td> 
    <td>{{task.parentTask.parentTask}}</td>
    <td>{{task.priority}}</td>
    <td>{{task.startDate}}</td>
    <td>{{task.endDate}}</td>
    <td><button *ngIf="task.active" routerLink="/edittask/{{task.taskId}}">Edit</button>
      <button *ngIf="!task.active">Edit</button></td>
    <td><button (click)="openConfirmationDialog(task)" type="button" class="btn btn-primary">End Task</button></td>
    </tr>
</table>
<hr>
<ul class="nav nav-pills">
<li class="nav-item" *ngFor="let p of pages; let i=index">
  <a class="nav-link active" href="" (click)="setPage(i, $event)">{{i}}</a>
</li>
</ul>